/* set colors*/

.foo {
    min-height: 33vh;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
}

/* apply colors */
.foo-1 {
    background-color: forestgreen;
}

.foo-2 {
    background-color: lightskyblue;
}

.foo-3 {
    background-color: darksalmon;
}

.foo-4 {
    background-color: palegoldenrod;
}

.foo-5 {
    background-color: mediumvioletred;
}
